/* цвет основного текста #757575 */
/* вторичний цвет #212121 */
/* черний цвет #000000 */
/* белый цвет #FFFFFF */
/*accent #2196F3 */
/* вторичний цвет фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, san-serif;
}

/* Лого logo*/

.logo {
  font-family: Raleway, san-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-weight: 700;

  /* identical to box height */

  letter-spacing: 0.03em;
}
.logo .web {
  color: var(--accent-color);
}
.logo .studio {
  color: #000000;
}

/* Site nav & Contacts */
.site-nav .contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link {
  color: #212121;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.contacts :hover,
.contacts :focus {
  color: var(--accent-color);
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16x;
  text-align: center;
}

.our-team {
  background-color: #f5f4fa;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}

/* Hero */
.hero {
  color: #ffffff;
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
/* Features */

.list {
  list-style: none;
}

.feature-list .title {
  color: var(--secondary-text-color);
}
.list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
}

.title .description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-text-color);
}

.subtitle-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* Button */
.button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

.list .button {
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
}

.list .button:focus,
.list .button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.filter .title {
  color: var(--secondary-text-color);
}

/* Футер */
footer {
  background-color: #2f303a;
}

/* Адрес */
.address .city {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1/71;
}

.address .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
